<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">


    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by Rajat Jha. It uses data from mapbox.com and darksky.net!</p>
            <img class="portait" src="/img/New Doc 2019-08-19 07.58.26_15.jpg" />
        </div>
        
        {{>footer}}
    </body>
</html>